.cart-section {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.btn-remove {
  border: none;
  background-color: #fff;
}
.btn-complete{
    width: 100%;
    max-width: 200px;
    text-align: center;
    color: #666;
    background-color: #fff;
    border: none;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
tr td{
    text-align: left !important;
    border-bottom: none;
}
.btn-img-view{
  border: none;
  background-color: #fff;
}
.btn-img-upload{
  border: none;
  background-color: #d9dadb;
  color: #fff;
}
.btnSort{
  border: none;
  background-color: transparent;
}
table th{
  color: #495057;
}
tbody, td, tfoot, th, thead, tr{
  border-style: dashed;
  border-color: #FBD914 !important;
}