body {
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}
.box {
  width: 50%;
  margin: 0 auto;
  background: rgba(53, 52, 52, 0.2);
  padding: 50px;
  border: 2px solid #fff;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.frm-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #6666;
}
progress {
  width: 100%;
  height: 0.5rem !important;
}
progress::-webkit-progress-bar {
  background-color: #dee2e6;
  border-radius: 12px;
}
.frm-input:focus {
  outline: none;
}
#upload {
  opacity: 0;
}
#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.btnUpload{
    border:none;
    background-color: #fff;
}
.btn-frm-add{
    background-color: #0058AB;
    border:none;
}
.btn-frm-close{
    background-color: #a5a58d;
    border: none;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
