.img-logo {
  position: absolute;
  width: 89px;
  height: 34px;
  left: 32px;
  top: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.home-bg-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-home-bg {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.home-content p{
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-add{
  width: 100%;
  max-width: 200px;
  text-align: center;
  color: #fff;
  background-color: #0058AB;
  border: #0058AB;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
